Data
Assignment2a/MSEE21001_Task2_02.py
Assignment2a/MSEE21001_Task1_02.py
Assignment2a/cifar.ipynb
Assignment2a/MNIST_classifier.py
Assignment2a/Readme.txt
Assignment2a/models/1/Capture.JPG
Assignment2a/models/1/Capture2.JPG
Assignment2a/models/1/Capture3.JPG
Assignment2a/models/1/output.png
Assignment2a/models/1/output1.png
Assignment2a/models/1/output2.png
Assignment2a/models/1/saved_model.pth
Assignment2a/models/2/Capture.JPG
Assignment2a/models/2/output.png
Assignment2a/models/2/output1.png
Assignment2a/models/3/Capture.JPG
Assignment2a/models/3/output.png
Assignment2a/models/3/output2.png
Assignment2a/models/4/Capture.JPG
Assignment2a/models/4/output.png
Assignment2a/models/4/output2.png
Assignment2a/models/5/Capture.JPG
Assignment2a/cifar.ipynb
Assignment2a/MNIST_classifier.py
Assignment2a/cifar.ipynb
Assignment2a/MNIST_classifier.py
Assignment2a/models/7/output1.png
Assignment2a/models/7/output.png
Assignment2a/models/6/output1.png
Assignment2a/models/6/output.png
Assignment2a/models/6/Capture.JPG
Assignment2a/models/5/output.png
Assignment2a/models/5/output1.png
Assignment2a/models/5/filters2.png
Assignment2a/models/5/digits1.png
Assignment2a/models/5/digits.png
Assignment2a/models/5/cm.png
Assignment2a/models/1/saved_model.pth
Assignment2a/models/1/task1_model.pth
Assignment2a/models/1/Capture.JPG
Assignment2a/saved_model.pth
Assignment2a/saved_model.pth
Assignment2a/Data/test.zip
Assignment2a/data/cifar-10-python.tar.gz
Assignment2a/data/cifar-10-batches-py/batches.meta
.gitignore
Assignment2a/data/cifar-10-batches-py/data_batch_1
Assignment2a/data/cifar-10-batches-py/data_batch_2
Assignment2a/data/cifar-10-batches-py/data_batch_3
Assignment2a/data/cifar-10-batches-py/data_batch_4
Assignment2a/data/cifar-10-batches-py/data_batch_5
Assignment2a/data/cifar-10-batches-py/test_batch
Assignment2a/data/cifar-10-batches-py/readme.html
Assignment2a
.gitignore